@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300&family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,700;1,500&family=Cherry+Bomb+One&family=Comfortaa&family=Dancing+Script:wght@700&family=Diphylleia&family=Itim&family=Josefin+Sans:ital@1&family=Kumbh+Sans:wght@300&family=Lato:ital,wght@1,100;1,300&family=League+Spartan:wght@400;700&family=M+PLUS+Rounded+1c:wght@500&family=Montserrat:wght@200&family=Noto+Sans:ital,wght@1,700&family=Open+Sans:wght@300&family=Outfit:wght@500&family=PT+Serif:ital,wght@1,700&family=Pacifico&family=Pangolin&family=Poppins:ital,wght@0,200;1,500;1,700&family=Quicksand:wght@700&family=Raleway:ital,wght@0,400;1,300;1,500&family=Roboto+Slab:wght@100;200;700&family=Roboto:wght@300;400;500&family=Tilt+Neon&family=Tilt+Prism&family=Ubuntu:ital,wght@0,300;0,500;1,500&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300&family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,700;1,500&family=Cherry+Bomb+One&family=Comfortaa&family=Dancing+Script:wght@700&family=Diphylleia&family=Itim&family=Josefin+Sans:ital@1&family=Kumbh+Sans:wght@300&family=Lato:ital,wght@1,100;1,300&family=League+Spartan:wght@400;700&family=M+PLUS+Rounded+1c:wght@500&family=Montserrat:wght@200&family=Noto+Sans:ital,wght@1,700&family=Open+Sans:wght@300&family=Outfit:wght@500&family=PT+Serif:ital,wght@1,700&family=Pacifico&family=Pangolin&family=Poppins:ital,wght@0,200;1,500;1,700&family=Quicksand:wght@700&family=Raleway:ital,wght@0,400;1,300;1,500&family=Roboto+Slab:wght@100;200;700&family=Roboto:wght@300;400;500&family=Tilt+Neon&family=Tilt+Prism&family=Ubuntu:ital,wght@0,300;0,500;1,500&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main-container {
    background: url(Images/pexels-josh-sorenson-1716825.jpg);
    background-position: center;
    background-size: cover;
    width: 101%;
    height: 100vh;
}

/*transparent part*/
.leftSide   {
    position: absolute;
    align-items: center;
    align-content: center;
    top: 0;
    left: 26%;
    width: 36%;   
    height: 71%;
    background: rgba(10, 10, 10, 0.778);
    padding: 15px;
    border-radius: 15px;
    transform: translate(-50%, 25%);
}

.Cash-deposit {
    font-size: 20px;
    width: 500px;
    height: 450px;
    padding: 20px;
    border: 2px solid #df5bb8;
    border-radius: 15px;
    color: rgb(210, 149, 216);
    background-image: linear-gradient(rgb(67, 2, 43), rgb(154, 4, 119));
  }

  .Cash-deposit label, input {
    margin-left: 78px;
  }
  
  .Cash-deposit h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    font-family: 'Tilt Neon', cursive;
  }
  
  .Cash-deposit label {
    display: block;
    margin-bottom: 5px;
  }
  
  .Cash-deposit input[type="date"],
  .Cash-deposit input[type="email"],
  .Cash-deposit input[type="file"],
  .Cash-deposit input[type="submit"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .Cash-deposit input[type="text"]  {
    width: 52%;
    height: 18%;
    border-radius: 10px;
  }

  
  .Cash-deposit input[type="submit"] {
    background-color: #25a2eb;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
  }
  
  .Cash-deposit input[type="submit"]:hover {
    background-color: #cf618e;
    color: black;
    padding: 5px;
    padding-left: 45px;
    padding-right: 45px;
    border: 2px black;
  }
  

  /*transparent paert*/

.RightSide  {
    position: absolute;
    align-items: center;
    align-content: center;
    top: 0;
    left: 26%;
    width: 36%;   
    height: 71%;
    background: rgba(19, 3, 14, 0.778);
    padding: 15px;
    border-radius: 15px;
    transform: translate(75%, 25%);
}  

.WINGS {
    font-size: 20px;
    width: 500px;
    height: 450px;
    padding: 20px;
    border: 2px solid #df5bb8 ;
    border-radius: 15px;
    color: #fff;
    background-image: linear-gradient(rgb(67, 2, 43), rgb(154, 4, 119));
  }

  .WINGS h2, h3{
    text-align: center;
    font-family: 'Tilt Neon', cursive;
  } 

  .WINGS span{
    color: rgb(197, 115, 199);
  }
  .WINGS ul{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }

  .WINGS p{
    text-align: justify;
    font-family: 'Tilt Neon', cursive;
  }


